:root {
    --background-c: #121212;
    --card-c: #1d1d1d;
    --chip-c: #373737;
    --pri-c-l: #4acfac;
    --pri-c: #4acfacd5;
    --sec-c-l: #ffaf5f;
    --sec-c: #ffaf5fd5;
    --ter-c-l: #7e8ce0;
    --ter-c: #7e8ce0d5;
    --qua-c-l: #fe8062;
    --qua-c: #fe8062d5;
    --qui-c-l: #55d1d8;
    --qui-c: #55d1d8d5;
    --pri-f-c: #ffffffe1;
    --sec-f-c: #ffffffa8;
    --ter-f-c: #121212;
    --scrollbar-thumb-c: #000000ef;
	--scrollbar-thumb-hover-c: #ffffff1c;
	--scrollbar-thumb-active-c: #ffffff46;
}

body {
    background-color: var(--background-c) !important;
    color: var(--pri-f-c);
    font-family: "Nunito";
}

/* Color classes */
.pri-c {
    background-color: var(--pri-c);
}
.sec-c {
    background-color: var(--sec-c);
}
.ter-c {
    background-color: var(--ter-c);
}
.qua-c {
    background-color: var(--qua-c);
}
.qui-c {
    background-color: var(--qui-c);
}

/* Button Classes */
.btn-pri, .btn-sec {
    font-weight: 600;
    border-radius: 15px !important;
    padding: 5px 20px;
    cursor: pointer;
}

.btn-pri {
    background-color: var(--pri-c);
}
.btn-pri:hover {
    background-color: var(--pri-c-l);
}

.btn-sec {
    background-color: var(--sec-c);
}
.btn-sec:hover {
    background-color: var(--sec-c-l);
}

.btn-ter {
    background-color: var(--ter-c);
}
.btn-ter:hover {
    background-color: var(--ter-c-l);
}

.btn-qua {
    background-color: var(--qua-c);
}
.btn-qua:hover {
    background-color: var(--qua-c-l);
}

.btn-qui {
    background-color: var(--qui-c);
}
.btn-qui:hover {
    background-color: var(--qui-c-l);
}

/* Bootstrap Overrides */
.form-control {
    background-color: var(--chip-c);
    border: 1px solid var(--background-c);
    color: var(--pri-f-c);
    border-radius: 5px !important;
}

.form-control:active, .form-control:focus {
    background-color: var(--chip-c);
    color: var(--pri-f-c);
}

.form-control:focus, .form-control:active, .btn:focus, .btn:active {
    box-shadow: 0px 0px 8px -2px var(--pri-c);
    outline: none;
    border: 1px solid var(--pri-c);
    border-radius: initial;
}

/* Autocomplete */
/* Webkit browsers (Chrome, Safari, Opera, Firefox, Edge) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid var(--background-c);
	-webkit-text-fill-color: var(--pri-f-c);
	-webkit-box-shadow: 0 0 0px 1000px var(--chip-c) inset;
	transition: background-color 5000s ease-in-out 0s;
}


/* Scrollbar */
::-webkit-scrollbar {
	width: 14px;
}
::-webkit-scrollbar-track {
	background: var(--background-c);
}
::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background: var(--scrollbar-thumb-c);
}
	::-webkit-scrollbar-thumb:hover {
		background: var(--scrollbar-thumb-hover-c);
	}

	::-webkit-scrollbar-thumb:active {
		background: var(--scrollbar-thumb-active-c);
	}

::-webkit-scrollbar-corner {
	background: var(--scrollbar-thumb-hover-c);
}