@model string

@{
    ViewData["Title"] = "Collections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <h2>Your Collections</h2>
    <p>
        <a asp-action="Create"><i class="fas fa-plus"></i>&ensp;New Collection</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Started</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="collection in collections">
                <td>
                    <a :href="appendActionUrl(collection.CollectionId)">{{collection.Title}}</a>
                </td>
                <td>{{collection.StartDate | formatDateShort}}</td>
                <td>
                    <a asp-action="Edit" asp-route-id="{{collection.CollectionId}}">Edit</a> |
                    <a asp-action="Delete" asp-route-id="{{collection.CollectionId}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    let collections = JSON.parse('@Html.Raw(Model)');

    let app = new Vue({
        el: '#app',
        data: {
            collections: collections
        },
        methods: {
            appendActionUrl: function (param) {
                return `/Collections/ShowBooks?collectionId=${param}`;
            }
        }
    });

</script>
