@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Athenaeum Login</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="~/lib/bootstrap/dist/css/bootstrap-flatly.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/9c33572fdb.js" crossorigin="anonymous"></script>
</head>
<body class="gradient-1">
    <script>
        function attemptLogin() {
            const email = $('#email').val();
            const password = $('#password').val();

            console.log(`Attempting Login with... ${email} and ${password}`);

            $.ajax({
                url: '@Url.Action("AttemptLogin", "Account")',
                dataType: 'json',
                data: {
                    email: email,
                    password: password
                },
                success: function (data) {
                    console.log(data);
                }
            });
        }
    </script>
    <div class="login-cont">
        <div class="text-center" style="font-size: 2rem;">Athenaeum</div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        @if (ViewBag.Message != null)
        {
            var type = "alert-primary";

            if ((bool)ViewBag.HasError)
                type = "alert-danger";

            <div class="alert @type" role="alert">
                ViewBag.Message
            </div>
        }
        <div class="d-flex align-items-center justify-content-center">
            <div class="btn-login gradient-3" asp-controller="Account" onclick="attemptLogin()">
                Login
            </div>
        </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-white">
            &copy; 2020 - Athenaeum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

